*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dolis', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:#ebfffc;
}
@media only screen and (max-width: 500px) {
    .message{
        width: 100%;
    }
    .container{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 30px; 
        padding-right: 30px; 
    }
    .heading i{
        font-size: 1.5rem;
        padding-left: 0;
       }
    h1{
        font-size: 1.5rem;
    }
    #create{
        margin-top: 30px;
        margin-left: 30%;
    }
    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #length{
        margin-bottom: 5px;
    }
    .btn{
        margin-bottom: 3px;
    }
}
 @media only screen and (max-width: 338px){
    h1{
        font-size: 1.2rem;
    }
 }
@media only screen and (min-width: 413px) {
   #create{
       margin-left: 40px;
   }
   .container{
    height: 400px;
    padding: 30px;
   }
   .heading i{
    font-size: 2.5rem;
   }
   h1{
    font-size: 2rem;
   }
   .message{
    margin-top: 60px;
   }
}
.container{
    margin-left: 10px;
    margin-right: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    background: hsla(190, 79%, 59%, 1);

background: linear-gradient(315deg, hsla(190, 79%, 59%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);

background: -moz-linear-gradient(315deg, hsla(190, 79%, 59%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);

background: -webkit-linear-gradient(315deg, hsla(190, 79%, 59%, 1) 0%, hsla(226, 50%, 65%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#45CDE9", endColorstr="#7A8FD3", GradientType=1 );

}
.heading{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.heading i{
    margin-right: 10px;
    margin-left: 5px;
}
.output {
    height: 30px;
    width: 100%;
    margin-top: 40px;;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#password {
    color: black;
    border: none;
    background: #ebfffc;
    font-size: 1.2rem;
    border-radius: 20px 0 0 20px;
    padding: 0 15px 0 15px;
    height: 60px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    width: 100%;
    border-right: none;
    user-select: none;
    -moz-user-select: none; 
}
#password:focus{
    outline: none;
}

#copy {
    border: none;
    background: #ebfffc;
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    width: 70px;
    border-radius: 0 20px 20px 0;
    height: 60px;
    cursor: pointer;  
    background-color: blanchedalmond;
    transition: all 0.5s ease; 
    font-size: 2rem;
}
.btn{
    margin-top: 50px;
    
}
#range{
    position: relative;
    top: 3.5px;
    transition: all 0.5s ease;
}
#range:hover{
    cursor: pointer;
    transform: scale(1.1);
    margin-left: 10px;
}
#length{
    border: none;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    font-weight: bold;
    cursor: pointer;  
    transition: all 0.5s ease; 
    backdrop-filter: blur(10px);
}
.output i:hover{
    transform: scale(1.1);
}
#create{
    border: none;
    margin-right: 30px;;
    background: #FFFAE6;
    width: 80px;
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;  
    transition: all 0.5s ease; 
}
#create:hover{
    background: #FFFAE6;
    transform: scale(1.1);
}
